#-----------------------------------------------------------------
# Account
#-----------------------------------------------------------------
ACCOUNT_ID = 12345

CLIENT_ID = xxx

CLIENT_SECRET = xxx

REFRESH_TOKEN = xxx
